---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="F*CK | About">

  <section class="intro">
    <h1>About</h1>
    <img src="/graphics/about-text_graphic.png" />
  </section>

  <section id="Exhibition" class="sf-block" aria-label="The Show">
    <h2>Overview</h2>
    <p>Sex culture as a thematic subject in contemporary art feels like something more intuitive than articulated. In the queer context, elements of sexuality, kink, fetish, and sexual experience are embedded with a tone of simultaneous rawness, honesty, and humor. Radical spaces for sex, sexual expression, and sexual experience where these elements materialize are innate to, and often considered inseparable from, the queer experience. F*CK! presents radically queer sexual experiences from multiple positions, juxtaposing a historical, documentary representation through ephemera of San Francisco’s LGBTQ+ scene, alongside a contemporary fine arts expression of queer kink culture and sexual experience.</p>
    <p>F*CK! explores the visual aesthetics and experiences of sex, sexuality, and kink in all its pleasure, joy, and humor. The work of Chrissa Chorvat (MFA '24) prods the relationship between pleasure and pain, articulating the abject complexities of desire across various mediums including borosilicate glass, print, and multimedia sculpture. The ephemera,  such as fliers for queer nightlife, provided by  Auto Erotica, a shop located in the historic Castro district specializing in LGBTQ+ objects and memorabilia, represent materialized traces of the queer experience of San Francisco’s leather and S&M cultures. By examining these themes across material forms, F*CK! unapologetically presents a glimpse into the vibrancy of sex, pleasure, kink, sexuality, intimacy, and community-building that exists in the queer community.</p>
  </section>

  <section id="Artists">
    <h2>Artists</h2>

    <article class="sf-block">
      <h3>Chrissa Chorvat (she/they)</h3>
      <p>is an interdisciplinary artist and MFA student working across disciplines exploring the abject nature of sex, gender, and sexuality through a critical lens. She is a pioneer in the medium of borosilicate glass, developing foundational techniques. Her transition from glass to fine arts generated compositions with a tone combining absurdist humor, celebration, and subjective honesty. Chorvat seeks to physically embody the acts, topics, and sensations often considered taboo in cishetero-normative society. Her thematic foci shift between pain, pleasure, absurdity, and the gray areas in-between, producing a holistic discourse on sex, gender, and sexuality as abject subjects.</p>
    </article>

    <article class="sf-block">
      <h3>Auto Erotica</h3>
      <p>is a store in San Francisco’s Castro neighborhood that buys and sells gay and gay-related memorabilia and ephemera. Their work functions to both conserve and archive the gay experience through material cultural objects. Their collection spans photography, pins/buttons, bar/club posters, t-shirts, early magazines, gay travel guides, artwork, coffee table books, catalogs, journals, and other ephemera. Auto Erotica is open from 11-6, Monday through Saturday at 4077A 18th St, San Francisco, CA 94114 in the Castro.</p>
    </article>
  </section>

  <section id="Curators">
    <h2>Curators</h2>

    <article class="sf-block">
      <h3>Samantha Hiura (she/her)</h3>
      <p>is a first year graduate student in CCA’s dual degree program for Visual and Critical Studies (MA) and Curatorial Practice (MA). Her academic and professional focuses are centered on contemporary art as forms of resistance, with particular interest in the intersections of queer and BIPOC representation. She holds a BA in Humanities and Art History with departmental honors from Seattle University. She has previously worked at Chihuly Garden and Glass in Seattle, and is currently working at Micki Meng Gallery, as well as alongside CCA Exhibition’s new galleries.</p>
    </article>

    <article class="sf-block">
      <h3>Megan Kelly (she/her)</h3>
      <p>is the 2022-2023 Graduate Curatorial Fellow at the Wattis Institute for Contemporary Arts and first year student in CCA’s Curatorial Practice (MA) program. She has previously held multiple administrative positions at universities in her hometown, Philadelphia, Pennsylvania, including Pennsylvania Academy of Fine Arts (PAFA) and University of Pennsylvania's Weitzman School of Design. Megan is dedicated to creating a platform to promote contemporary artists, with an emphasis on supporting queer and BIPOC artists. She holds a BFA in Photography from the University of the Arts and studied Art History in the post-baccalaureate program at the University of Pennsylvania.</p>
    </article>
  </section>

  <section id="Thanks">
    <h2>Special Thanks</h2>
    <p>Auto Erotica, Manuel Angeja, Jaime Austin, Bryndis Hafthorsdottir, Joel Lithgow, Eric Lum, & Sloane Holzer</p>
  </section>

</BaseLayout>

<style scoped>
  #Exhibition h2 {
    visibility: hidden;
    height: 0;
  }
</style>
