---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="F*CK | Catalog">
  <section class="intro">
    <h1>Catalog</h1>
    <img src="/graphics/catalog-text_graphic.jpg" />
  </section>

  <section class="contents-preview">
    <h2>Contents</h2>
    <article>
      <h3>Exhibition Title</h3>
      <h4>Artist Name</h4>
    </article>
    <article>
      <h3>Exhibition Title</h3>
      <h4>Artist Name</h4>
    </article>
  </section>

  <a href="/catalog.jpf" download="Fuck_Exhibition-Catalog-2023">
    <button>Download</button>
  </a>
</BaseLayout>

<style scoped>
  .contents-preview h2 {
    text-align: left;
  }
  .contents-preview article {
    margin-bottom: 32px;
  }

  button {
    margin-top: 32px;
  }
</style>
