---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="F*CK | Catalog">
  <section class="intro">
    <h1>Catalog</h1>
    <img src="/graphics/catalog-text_graphic.png" />
  </section>
  </section>
  <ul>
    <li>
      <a href="/catalog/article_name">
        <h2>Exhibition Title</h2>
        <h3>Artist Name</h3>
      </a>
    </li>
    <li>
      <a href="/catalog/article_name">
        <h2>Exhibition Title</h2>
        <h3>Artist Name</h3>
      </a>
    </li>
  </ul>
</BaseLayout>
