---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="F*CK!">
  <section id="landing-graphic">
    <!-- <img src="fucktexture.jpg" /> -->

    <section class="animated-logo">
      <img class="fill" src="/graphics/fuck-logo-fill.svg" />
      <img class="base" src="/graphics/fuck-logo-base.svg" />
    </section>
  </section>

  <!--
  <section class="quicklinks">
    <a href="/photos"><p>Photos</p></a>
    <a href="/catalog"><p>Catalog</p></a>
    <a href="/about"><p>About</p></a>
    <a href="/press"><p>Press</p></a>
    <a href="/resources"><p>Resources</p></a>
  </section>
  -->

  <hr></hr>

  <p class="footer">Joel Lithgow & Samantha Hiura | 2023</p>
</BaseLayout>

<style scope>
  :global(.page-content) {
    /* max-width: 420px; */
    max-width: 100% !important;
    padding: 0 !important;
    padding-bottom: 16px !important;
  }

  :global(#top-navigation .logo img) {
    display: none;
  }
  :global(#top-navigation .logo p) {
    display: inline-block;
  }

  @keyframes glitch {
    0% {
      transform: translate(0)
    }
    20% {
      transform: translate(-1px, 1px)
    }
    40% {
      transform: translate(-1px, -1px)
    }
    60% {
      transform: translate(1px, 1px)
    }
    80% {
      transform: translate(1px, -1px)
    }
    to {
      transform: translate(0)
    }
  }

  #landing-graphic {
    position: relative;
    background-image: url("/fucktexture.jpg");
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  #landing-graphic img {
    width: 100%;
  }

  .animated-logo {
    position: relative;
    margin: 32px auto 48px auto;
    width: 90%;
  }
  .animated-logo .fill {
    position: absolute;
    fill: red;
    max-width: 95%;
    top: 6%;
    right: 1.5%;
    opacity: 60%;
    animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
  }
  .animated-logo .base {
    max-width: 100%;
  }

  /* Footer */
  hr {
    border: 1px solid pink;
    opacity: 20%;
    margin: 64px;
  }

  .footer {
    text-align: center !important;
  }
</style>
