---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="F*CK | Press">
  <section class="intro">
    <h1>Press</h1>
    <img src="/graphics/press-text_graphic.png" />
  </section>
  <h2>Coming soon!</h2>
  <!-- Playspace instagram? | Maybe link to instagram posts -->
</BaseLayout>

<style>
  .intro {
    margin-bottom: 32px;
  }
</style>
