---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Press | Resources">
  <section class="intro">
    <h1>Resources</h1>
    <img src="/graphics/resources-text_graphic.png" />
    <p>Overview on what this page is and why it's important in relation to the exhibition.</p>
  </section>

  <h2>Local Organizations</h2>
  <ul class="resource-list">
    <li>
      <h3><a href="">Aguilas:</a></h3>
      <p>Organization dedicated to HIV prevention and education, and other LGBTQ+ issues in a Latinx-specific framework.</p>
    </li>
    <li>
      <h3><a href="">GLBT Historical Society:</a></h3>
      <p>Dedicated historical society for archiving, documenting, and exhibiting queer history to promote public  understanding and education.</p>
    </li>
    <li>
      <h3><a href="">Good Vibration:</a></h3>
      <p>Sex store that specializes in general sexual wellness education.</p>
    </li>
    <li>
      <h3><a href="">Lavender Phoenix:</a></h3>
      <p>Queer/Trans, AAPI-rooted organization committed to bolstering grassroots activism through various development programs.</p>
    </li>
    <li>
      <a href="">
        <p><b>Red Canary Song: </b>Organizing and advocating for the rights of Asian and migrant sex workers, as well as efforts for destigmatization and decriminalization of sex work.</p>
      </a>
    </li>
    <li>
      <a href="">
        <p><b>Schlomer Haus Gallery: </b>Queer-owned contemporary art gallery in the Castro neighborhood that champions the work of emerging queer artists.</p>
      </a>
    </li>
    <li>
      <a href="">
        <p><b>SF LGBT Center: </b>Organization dedicated to connecting LGBTQ+ communities with resources, support, and safe spaces for thriving.</p>
      </a>
    </li>
  </ul>
</BaseLayout>

<style scoped>
  .resource-list li {
    margin-bottom: 24px;
  }

  .resource-list p {
    text-align: left; 
  }
</style>
