---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Press | Resources">

  <section class="intro">
    <h1>Resources</h1>
    <img src="/graphics/resources-text_graphic.png" />
  </section>

  <section class="sf-block">
    <h2>Local Organizations</h2>
    <p>San Francisco has one of the richest histories of queer activism, which is a legacy we are lucky to inherit. To ground our exhibition within our immediate community, we felt it was important to highlight local, San Francisco-based LGBTQ+ resources and institutions. Spanning queer-run art galleries focusing in queer and underrepresented artists to grassroots development organizations catering to the queer and trans AAPI communities, we hope to spotlight a brief but diverse group of organizations within our own communities.</p>
  </section>
  <ul class="resource-list">
    <li>
      <h3><a href="https://www.sfaguilas.org/">Aguilas:</a></h3>
      <p>Organization dedicated to HIV prevention and education, and other LGBTQ+ issues in a Latinx-specific framework.</p>
    </li>
    <li>
      <h3><a href="https://www.glbthistory.org/">GLBT Historical Society:</a></h3>
      <p>Dedicated historical society for archiving, documenting, and exhibiting queer history to promote public  understanding and education.</p>
    </li>
    <li>
      <h3><a href="https://www.goodvibes.com/">Good Vibration:</a></h3>
      <p>Sex store that specializes in general sexual wellness education.</p>
    </li>
    <li>
      <h3><a href="https://lavenderphoenix.org/">Lavender Phoenix:</a></h3>
      <p>Queer/Trans, AAPI-rooted organization committed to bolstering grassroots activism through various development programs.</p>
    </li>
    <li>
      <h3><a href="https://www.redcanarysong.net/">Red Canary Song: </a></h3>
      <p>Organizing and advocating for the rights of Asian and migrant sex workers, as well as efforts for destigmatization and decriminalization of sex work.</p>
    </li>
    <li>
      <h3><a href="https://schlomerhaus.com/">Schlomer Haus Gallery:</a></h3>
      <p>Queer-owned contemporary art gallery in the Castro neighborhood that champions the work of emerging queer artists.</p>
    </li>
    <li>
      <h3><a href="https://www.sfcenter.org/">SF LGBT Center:</a></h3>
      <p>Organization dedicated to connecting LGBTQ+ communities with resources, support, and safe spaces for thriving.</p>
    </li>
  </ul>
</BaseLayout>

<style scoped>
  .resource-list {
    padding-inline-start: 0 !important;
  }
  .resource-list li {
    margin-bottom: 24px;
    list-style: none;
  }

  .resource-list a {
    color: black;
  }

  .resource-list a:hover {
    color: deeppink;
  }

  .resource-list p {
    text-align: left; 
  }
</style>
