---
---
<div id="top-navigation">
  <section class="logo">
    <a href="/">
      <img src="/graphics/fuck-logo.jpg" alt="FUCK"/>
    </a>
  </section>
  <section class="link-items">
    <a href="/photos"><p>Photos</p></a>
    <a href="/catalog"><p>Catalog</p></a>
    <a href="/about"><p>About</p></a>
    <a href="/press"><p>Press</p></a>
    <a href="/resources"><p>Resources</p></a>
    <aside class="hamburger-menu">
      <a href="/"><p>Menu</p></a>
    </aside>
  </section>
  <!--
  <section class="hamburger-menu">
  </section>
  -->
</div>

<style scoped>

  #top-navigation {
    background: white;
    padding: 16px;

    display: flex;
    flex-direction: row;
  }

  a {
    color: #222;
    font-family: "lato";
    font-weight: bolder;
  }
  a:visited {
    color: #222;
  }
  a:hover {
    color: deeppink;
  }

  .logo {
    flex: 1;
  }

  .logo > a {
    display: inline-block;
  }

  .logo img {
    height: 30px;
  }

  .link-items {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 24px;
  }
  @media only screen and (max-width: 678px) {
    .link-items > a {
      display: none;
    }
  }

  .hamburger-menu {
    display: none;
  }

  /* Tablet and larger */
  @media only screen and (max-width: 678px) {
    .hamburger-menu {
      display: inline-block;
    }
  }

</style>

<script>


</script>
