---
import Header from "../components/Header.astro";
import "@fontsource/shrikhand"

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Header />
    <article class="page-content">
      <slot />
    </article>
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}

  /* RESET */
  body, p, h1, h2, h3, h4, h5, h6, li, ul, ol, a {
    margin: 0;
  }

  /* Base Layout Styles */
  body {
    background-color: #fffbfc;
  }

  h1, h2 {
    font-family: "shrikhand", cursive;
    letter-spacing: 1px;
  }

  h3, h4, h5, p {
    font-family: "lato";
  }

  h4, h5, p {
    font-weight: lighter;
  }

  .page-content {
    padding: 16px;
    max-width: 768px;
    margin: auto;
  }

  .page-content ul {
    padding-inline-start: 24px; 
  }

  /*
  .page-content h1, .page-content h2 {
    text-align: center;
  }
 */

  .page-content h1 {
    margin: 32px 32px 32px 0;
    font-size: 3rem;
  }

  .page-content h2 {
    margin: 64px 32px 32px 0;
    text-align: center;

    font-family: "lato";
    font-weight: 200;
  }

  .page-content h3 {
    font-family: "lato";
    padding-bottom: 8px;
  }

  .page-content h4 {
    font-family: "lato";
  }

  .page-content p {
    margin-bottom: 16px;
    text-align: justify;
  }

  .page-content .sf-block {
    padding-bottom: 24px;
  }

  .intro h1 {
    visibility: hidden;
    height: 0;
  }
  .intro img {
    max-height: 70px;
    max-width: 100%;
  }
  .intro p {
    margin-top: 16px;
  }

  /* Artwork Quickview, Tablet + */
  .artwork-quickview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 32px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
  .artwork-quickview:hover {
    cursor: pointer;
  }
  .artwork-quickview .primary-image {
    max-height: 100%;
  }
  .artwork-quickview aside {
    align-self: end;
  }
  .artwork-quickview h2 {
    margin-bottom: 16px;
  }
  .artwork-quickview h3, h4, h5 {
    margin-bottom: 8px;
  }
  .artwork-quickview p {
    margin-top: 24px;
  }

  /* Artwork Quickview, Mobile-Tablet */
  @media only screen and (max-width: 768px) {
    .artwork-quickview {
      flex-direction: column;
    }
    .artwork-quickview aside {
      align-self: start;
    }
    .artwork-quickview .primary-image {
      max-width: 100%;
      object-fit: contain;
      overflow: auto;
    }
  }

  .reception-quickview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
  }
  .reception-quickview:hover {
    cursor: pointer;
  }
  .reception-quickview img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  .reception-quickview p {
    display: inline-block;
    margin-left: 16px;
  }

  .exhibition-quickview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
  }
  .exhibition-quickview:hover {
    cursor: pointer;
  }
  .exhibition-quickview img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  .exhibition-quickview p {
    display: inline-block;
    margin-left: 16px;
  }

</style>
